appdirs                                # via pyopencl, pycuda, pytools
decorator                              # via pyopencl, pycuda, pytools
Mako==1.1.1                            # via pycuda
MarkupSafe                             # via mako
numpy
pycuda==2019.1.2
pyopencl==2019.1.2
pytools==2020.1
scikit-cuda==0.5.3
six
