aioconsole==0.8.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiohttp-retry==2.9.1
aiokatcp==2.1.0
aiomonitor==0.7.1
aiosignal==1.4.0
alabaster==1.0.0
ansicolors==1.1.8
appdirs==1.4.4
argparse==1.4.0
astropy==6.1.7
astropy-iers-data==0.2025.8.4.0.42.59
async-timeout==5.0.1
asynctest==0.13.0
attrs==25.3.0
babel==2.17.0
backports-strenum==1.3.1
bokeh==3.7.3
botocore==1.40.5
certifi==2025.8.3
chardet==5.2.0
charset-normalizer==3.4.2
cityhash==0.4.9
click==8.2.1
cloudpickle==3.1.1
contourpy==1.3.2
coverage==7.10.2
cycler==0.12.1
dask==2021.9.0           #2025.7.0
decorator==5.2.1
defusedxml==0.7.1
docutils==0.21.2
ephem==4.2
exceptiongroup==1.3.0
fakeredis==2.30.3
fonttools==4.59.0
frozenlist==1.7.0
fsspec==2025.7.0
future==1.0.0
h5py==3.14.0
hiredis==3.2.1
idna==3.10
imagesize==1.4.1
importlib-metadata==8.7.0
importlib-resources==6.5.2
iniconfig==2.1.0
janus==2.0.0
jinja2==3.1.6
jmespath==1.0.1
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
katcp-codec==0.2.0
katportalclient==0.2.2
katversion==1.2
kiwisolver==1.4.8
llvmlite==0.44.0
locket==1.0.0
lupa==2.5
mako==1.3.10
manhole==1.8.1
markupsafe==3.0.2
matplotlib==3.10.5
msgpack==1.1.1
multidict==6.6.3
mypy==1.17.1
mypy-extensions==1.1.0
narwhals==2.0.1
netifaces==0.11.0
nose==1.3.7
numba==0.61.2
numpy==2.2.6
omnijson==0.1.2
packaging==25.0
pandas==2.3.1
partd==1.4.2
pathspec==0.12.1
pep517==0.13.1
pillow==11.3.0
pip==25.2
pkgutil-resolve-name==1.3.10
platformdirs==4.3.8
pluggy==1.6.0
prompt-toolkit==3.0.51
propcache==0.3.2
py==1.11.0
pyephem==9.99
pyerfa==2.0.1.5
pygelf==0.4.3
pygments==2.19.2
pyjwt==2.10.1
pyopencl
pyparsing==3.2.3
pyrsistent==0.20.0
pytest==8.4.1
pytest-cov==6.2.1
python-casacore==3.7.1
python-dateutil==2.9.0.post0
python-lzf==0.2.6
pytools==2025.2.2
pytz==2025.2
pyyaml==6.0.2
rdbtools==0.1.15
redis==6.4.0
referencing==0.36.2
requests==2.32.4
rpds-py==0.27.0
scipy==1.15.3
setuptools==80.9.0
siphash24==1.7
six==1.17.0
snowballstemmer==3.0.1
sortedcontainers==2.4.0
spead2==4.4.0
sphinx==8.1.3
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib-websupport==2.0.0
strict-rfc3339==0.7
telnetlib3==2.0.4
terminaltables==3.1.10
toml==0.10.2
tomli==2.2.1
toolz==1.0.0
tornado==6.5.1
trafaret==2.1.1
#typing==3.10.0.0
typing-extensions==4.14.1
tzdata==2025.2
ujson==5.10.0
urllib3==2.5.0
uv==0.8.6
wcwidth==0.2.13
wheel==0.45.1
xyzservices==2025.4.0
yarl==1.20.1
zipp==3.23.0
